# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python
.Python
downloads
develop-eggs
wheels
*.egg
*.egg-info
MANIFEST
__pycache__
*.pyc
*.py[cod]
*$py.class
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
docs/_build
.pybuilder
target/
.ipynb_checkpoints
profile_default
ipython_config.py
__pypackages__
.env
.venv
env
venv
ENV
env.bak
venv.bak
.spyderproject
.spyproject
cython_debug
.python-version
.idea

# Misc
.DS_Store
.vscode
build
dist
*temp*
*tmp*
